:root{
  --white: #fdfffc;
  --black: #0d1117;
  --primary-blue: #00effc;
  --secundary-blue: #00c7d1;
  --yellow: #f9e715;
}
html{
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: var(--white);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
body{
  padding: 1.5rem;
  height: 100vh;
}