.titleResidential, .titleAirbnb {
    color: var(--secundary-blue);
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.residentialText {
    text-align: center;
    margin: 2rem 0;
}

.residentialText {
    text-align: center;
}

.services {
    margin-bottom: 12%;
    padding: 0 2rem;
}

@media (min-width: 768px) {
    .services {
        margin-bottom: 16%;
    }    
  }

  @media (min-width: 1440px) {
    .services {
        margin-bottom: 11%;
    }
  }