.titleResidential, .titleAirbnb {
    color: var(--secundary-blue);
    font-size: 2rem;
    text-align: center;
}

.residentialText {
    text-align: center;
}

.residentialText {
    text-align: center;
}

.services {
    margin-bottom: 12%;
}

@media (min-width: 768px) {
    .services {
        margin-bottom: 20%;
    }    
  }

