.vibesContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figureLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imgV {
    width: 100%;
}

.titleScreenOne {
    color: var(--secundary-blue);
    font-size: 2rem;
    text-align: center;
}

.buttonBookme {
    background-color: var(--yellow);
    border: none;
    border-radius: 999px;
    font-size: 1.2rem;
    font-weight: 600;
    height: 3rem;
    width: 10rem;
}