.vibesContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figureLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imgV {
    width: 100%;
}

.titleScreenOne {
    color: var(--secundary-blue);
    font-size: 2rem;
    text-align: center;
}

@media (min-width: 425px) {
    .figureLogo {
        width: 50%;
    } 
  }
