.vibesContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figureLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
}
